{% include 'superadmin/layouts/header.html' %}
 <!--app-content open-->

 <div class="main-content app-content mt-0">
     <div class="side-app">
         <!-- CONTAINER -->

         <div class="main-container container-fluid">
             <!-- PAGE-HEADER -->
             <div class="page-header">
                 <h1 class="page-title">Dashboard</h1>
             </div>

             <!-- PAGE-HEADER END -->

             <!-- ROW OPEN -->
             <div class="row row-cards">
                 <div class="col-sm-4 col-md-4 col-lg-4 col-xl-3 col-6">
                     <a href="{% url 'superadmin:userlist' %}">
                         <div class="card bg-primary img-card box-primary-shadow">
                             <div class="card-body">
                                 <div class="d-flex">
                                     <div class="text-white">
                                         <h2 class="mb-0 number-font">{{customer}}</h2>
                                         <p class="text-white mb-0">Customer</p>
                                     </div>
                                     <div class="ms-auto">
                                         <i class="fe fe-flag text-white fs-30 me-2 mt-2"></i>
                                     </div>
                                 </div>
                             </div>
                         </div>
                     </a>
                 </div>
                 <!-- COL END -->
                 <div class="col-sm-4 col-md-4 col-lg-4 col-xl-3 col-6">
                     <a href="{% url 'superadmin:invoicelist' %}">
                         <div class="card bg-warning img-card box-primary-shadow">
                             <div class="card-body">
                                 <div class="d-flex">
                                     <div class="text-white">
                                         <h2 class="mb-0 number-font">{{invoice}}</h2>
                                         <p class="text-white mb-0">Invoice</p>
                                     </div>
                                     <div class="ms-auto"> <i class="fa fa-balance-scale text-white fs-30 me-2 mt-2"></i> </div>
                                 </div>
                             </div>
                         </div>
                     </a>
                 </div>
                 <!-- COL END -->
                 
                 <!-- COL END -->
                 
                 <!-- COL END -->
             </div>
             <!-- ROW CLOSED -->


         </div>

         <!-- CONTAINER END -->

     </div>

 </div>

 <!--app-content close-->



 <?php include("footer.php"); ?>