{% include 'superadmin/layouts/header.html' %}
<!--app-content open-->
 <div class="main-content app-content mt-0">
     <div class="side-app">
         <!-- CONTAINER -->
         <div class="main-container container-fluid">
             <!-- PAGE-HEADER -->
             <div class="page-header">
                 <h1 class="page-title">Invoice</h1>
                 <div>
                     <a class="btn btn-primary" href="{% url 'superadmin:invoicelist' %}"><i class="side-menu__icon fe fe-eye mx-1"></i>View All</a>
                 </div>
             </div>
             <!-- PAGE-HEADER END -->

             <!-- ROW OPEN -->
             <div class="row">
                 <div class="col-md-8 col-xl-8 col-12">
                     <div class="card">
                         <div class="card-body">
                             <form method="post">
                                 {% csrf_token %}
                                 <div class="row col-lg-12">
                                    <div class="col-lg-6 col-12">
                                        <div class="form-group">
                                            <label class="form-label">Customer</label>
                                            <select name="customer" required class="form-control form-select select2  select2-show-search"  data-bs-placeholder="Select Customer" tabindex="-1" aria-hidden="true">
                                               <option value="">Select</option>
                                                {% for i in customer %}
                                                    <option value="{{i.id}}" {% if i.id == data.customer.id %}selected{% endif %}>{{i.name}} (CUST_{{i.id|stringformat:"04d"}})</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                     <div class="form-group col-lg-6 col-12">
                                         <label for="" class="form-label"> Date</label>
                                         <input type="date" class="form-control" id="" placeholder="Date" name="date" required value="{{data.date|date:'Y-m-d'}}">
                                     </div>
                                    <div class="form-group col-lg-6 col-12">
                                         <label for="" class="form-label"> Amount</label>
                                         <input type="text" class="form-control" id="" placeholder="Amount" name="amount" required value="{{data.amount}}" onkeypress='return restrictAlphabets(event)' >
                                     </div>
                                     <div class="col-lg-6 col-12">
                                        <div class="form-group">
                                            <label class="form-label">Status</label>
                                            <select name="status" required class="form-control form-select select2 select2-hidden-accessible" data-bs-placeholder="Select Customer" tabindex="-1" aria-hidden="true">
                                                <option value="">Select</option>
                                                <option value="1"  {% if 1 == data.status %}selected{% endif %}>Upaid</option>
                                                <option value="2" {% if 2 == data.status %}selected{% endif %}>Paid</option>
                                                <option value="3" {% if 3 == data.status %}selected{% endif %}>Cancelled</option>
                                                
                                            </select>
                                        </div>
                                    </div>

                                     <div class="form-group col-lg-12 col-12">
                                         <button type="submit" class="btn btn-primary mt-4 mb-0" id="submitButton">Submit</button>
                                         <a href="" class="btn btn-danger mt-4 mb-0">Cancel</a>
                                     </div>
                                 </div>
                             </form>
                         </div>
                     </div>
                     <!-- ROW CLOSED -->
                 </div>
                 <!-- CONTAINER END -->
             </div>
         </div>
     </div>
     <!--app-content close-->

{% include 'superadmin/layouts/footer.html' %}
