{% include 'superadmin/layouts/header.html' %}
<!--app-content open-->
<div class="main-content app-content mt-0">
    <div class="side-app">

        <!-- CONTAINER -->
        <div class="main-container container-fluid">

            <!-- PAGE-HEADER -->
            <div class="page-header">
                <h1 class="page-title">Invoice</h1>
                <div>
                    <a class="btn btn-primary" href="{% url 'superadmin:invoicecreate' %}"><i class="side-menu__icon fe fe-plus mx-1"></i>Add New</a>
                </div>
            </div>
            <!-- PAGE-HEADER END -->

            <!-- ROW OPEN -->
            <div class="row">
                <div class="col-xl-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">List Of All Invoice</h3>
                        </div>
                        <div class="card-body">
                            <form>
                               
                            </form>
                            <div class="table-responsive" >
                            {% include 'superadmin/invoice/invoice-table.html' %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ROW CLOSED -->



        </div>
        <!-- CONTAINER END -->
    </div>
</div>

<!--app-content close-->

<div class="modal  fade" id="smallmodal1" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">DESCRIPTION</h5>
                <button class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="w-100">
                    <tr>
                        <td>
                            Which of the following elements are noble gases and have full electron shells? (Select all that apply)
                        </td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>


<div class="modal  fade" id="modaldemo5" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-md modal-dialog-centered text-center" role="document">
            <div class="modal-content ">

                <div class="modal-body">
                    <button aria-label="Close" class="btn-close position-absolute" data-bs-dismiss="modal">
					<span aria-hidden="true">&times;</span></button>
                    <i class="icon icon-close fs-70 text-danger lh-1 my-5 d-inline-block"></i>
                    <h4 class="text-danger">Are You Sure Do You Want To Delete ?</h4>
                    <p class="mg-b-20 mg-x-20">Item Will be Deleted Permanently</p>
                    <input type="hidden" id="hid" >
                    <button class="btn btn-success" onclick="deletedata()">Yes</button>
					<button aria-label="Close" class="btn btn-danger pd-x-25" data-bs-dismiss="modal">Cancel</button>
                </div>
                <div class="modal-footer">


                </div>
            </div>
        </div>
    </div>

{% include 'superadmin/layouts/footer.html' %}
