{% include 'website/layouts/header.html' %}
{% load static %}
<div class="page-content">

<section class="coming-soon" style="background: url({% static 'website/images/comming-soon-bg.jpg' %}) center center / cover no-repeat;">
<div class="coming-soon-wrap">
<div class="container">
<div class="top-page">
<div class="logo">
<a href="index-2.html"><img src="images/icons/logo-white.png" alt="logo"></a>
</div>
<div class="socials">
<!--<a href="#"><i class="zmdi zmdi-facebook"></i></a>-->
<!--<a href="#"><i class="zmdi zmdi-google-plus"></i></a>-->
<!--<a href="#"><i class="zmdi zmdi-twitter"></i></a>-->
<!--<a href="#"><i class="zmdi zmdi-instagram"></i></a>-->
<!--<a href="#"><i class="zmdi zmdi-tumblr"></i></a>-->
</div>
</div>
<h1>Thank You..!</h1>
<h1>We will contact you soon..</h1>
<div id="clockdiv">
<a href="/" class="au-btn btn-small au-btn-red">Go Home <i class="fas fa-home"></i></a>

</div>
</div>
</section>

</div>
<a href="#" id="back-to-top">
<i class="zmdi zmdi-chevron-up"></i>
</a>


{% include 'website/layouts/footer.html' %}
