{% include 'superadmin/layouts/header.html' %}

<!--app-content open-->
<div class="main-content app-content mt-0">
    <div class="side-app">

        <!-- CONTAINER -->
        <div class="main-container container-fluid">

            <!-- PAGE-HEADER -->
            <div class="page-header">
                <h1 class="page-title">Category</h1>
                <div>
                    <a class="btn btn-primary" href="{% url 'superadmin:categorycreate' %}" ><i
                            class="side-menu__icon fe fe-plus mx-1"></i>Add New</a>
                </div>
            </div>
            <!-- PAGE-HEADER END -->

            <!-- ROW OPEN -->
            <div class="row">
                <div class="col-xl-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">List Of All Category</h3>
                        </div>
                        <div class="card-body">
                            <form>
                                <div class="row">

                                    <div class="form-group col-lg-2 col-12">
                                        <input type="text" class="form-control" id="searchkey" placeholder="Keyword Search">
                                    </div>




                                               <div class="form-group col-lg-2 col-12">
                                                  <select name="" id="status" class="form-control form-select select2" data-bs-placeholder="Select Country">
                                            <option value="">Select</option>
                                            <option value="True">Active</option>
                                            <option value="False">Inactive</option>

                                        </select>
                                               </div>

                                               <div class="form-group col-lg-3 col-12">
                                                   <a class="btn btn-primary mr-1" href="javascript:void(0)" onclick="filtercategory(1)">Search</a>
                                                    <a class="btn btn-default" href="" >Reset</a>
                                               </div>

                                       </div>
                            </form>
                            <div class="table-responsive">
                                {% include 'superadmin/category/category-table.html' %}

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ROW CLOSED -->
        </div>
        <!-- CONTAINER END -->
    </div>
</div>
<!--app-content close-->



<div class="modal  fade" id="modaldemo5" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-md modal-dialog-centered text-center" role="document">
        <div class="modal-content ">

            <div class="modal-body">
                <button aria-label="Close" class="btn-close position-absolute" data-bs-dismiss="modal">
                    <span aria-hidden="true">&times;</span></button>
                <i class="icon icon-close fs-70 text-danger lh-1 my-5 d-inline-block"></i>
                <h4 class="text-danger">Are You Sure Do You Want To Delete ?</h4>
                <p class="mg-b-20 mg-x-20">Item Will be Deleted Permanently</p>
                 <input type="hidden" id="hid">
                    <button class="btn btn-success" onclick="categorydelete()">Yes</button>
                <button aria-label="Close" class="btn btn-danger pd-x-25" data-bs-dismiss="modal">Cancel</button>
            </div>
            <div class="modal-footer">


            </div>
        </div>
    </div>
</div>

<div class="modal  fade" id="modal_form" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-md modal-dialog-centered" role="document">
        <div class="modal-content ">

            <div class="modal-body">
                <button aria-label="Close" class="btn-close position-absolute" data-bs-dismiss="modal">
                    <span aria-hidden="true">&times;</span></button>
                <form>
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Add Category:</label>
                        <input type="text" class="form-control" id="recipient-name">
                    </div>
                    <div class="d-flex justify-content-end">
                
                <button aria-label="Close" class="btn btn-danger pd-x-25" data-bs-dismiss="modal">Cancel</button>
                <button class="btn btn-success ms-3">Submit</button>     
            </div>
                </form>
            </div>
            
        </div>
    </div>
</div>
{% include 'superadmin/layouts/footer.html' %}
