{% include 'website/layouts/header.html' %}
{% load static %}

<div class="page-content">

<section class="breadcrumb-our-team breadcrumb-menu-section section-box" style="background-image: url({% static 'website/images/our-team-bc.jpg' %})">
<div class="container">
<div class="breadcrumb-inner">
<h1>Starter</h1>
<!--<div class="menu">-->
<!--<div class="menu-inner">-->
<!--<img src="images/icons/menu-starter-bc-1.png" alt="menu-starter-1">-->
<!--<h4>SALAD</h4>-->
<!--</div>-->
<!--<div class="menu-inner">-->
<!--<img src="images/icons/menu-starter-bc-2.png" alt="menu-starter-2">-->
<!--<h4>CURRY</h4>-->
<!--</div>-->
<!--<div class="menu-inner">-->
<!--<img src="images/icons/menu-starter-bc-3.png" alt="menu-starter-3">-->
<!--<h4>POTATO</h4> -->
<!--</div>-->
</div>
</div>
</div>
</section>


<section class="salad-section section-box">

<div class="container">
<div class="menu-heading">
<img src="{% static 'website/images/icons/menu-starter-icon-1.png' %}" alt="salad">
<h2>SALAD</h2>
</div>
<div id="salad-section" class="owl-carousel owl-theme">
<div class="item">

    {% for i in menu %}

<div class="item-content">
<div class="image">
<img src="{% static 'website/images/menu-starter-salad-1.jpg' %}" alt="salad">
</div>
<div class="info">
<h5>Peanut And Ugli Fruit Salad</h5>
<p>Socca and fresh apple served on a bed of lettuce.</p>
<span>$15</span>
</div>
</div>

{% endfor %}

</div>





</div>
</div>
</section>








<div class="book-table-hp-1 section-box">
<div class="container">
<div class="book-content">
<form class="form-detail" method="post">
<h3 class="special-heading">Reservation</h3>
<h2 class="special-heading-1">BOOK A TABLE</h2>
<p>Tempus urna et pharetra pharetra massa massa. Malesuada fames ac turpis egestas. Ut tristique et egestas quis.</p>
<div class="form-group">
<div class="form-row">
<select name="people" id="people" class="input-text">
<option value="1 Person">1 Person</option>
<option value="2 Person">2 Person</option>
<option value="3 Person">3 Person</option>
<option value="4 Person">4 Person</option>
</select>
<span class="select-btn">
<i class="zmdi zmdi-chevron-down"></i>
</span>
<span class="special">
For
</span>
</div>
<div class="form-row form-row-1">
<input type="text" name="date" class="date" id="date" placeholder="8/9/2018">
<span class="special">
At
</span>
</div>
<div class="form-row form-row-2">
<select name="time" id="time" class="input-text">
<option value="7:00pm">7:00pm</option>
<option value="8:00pm">8:00pm</option>
<option value="9:00pm">9:00pm</option>
<option value="10:00pm">10:00pm</option>
</select>
<span class="select-btn">
<i class="zmdi zmdi-chevron-down"></i>
</span>
</div>
<div class="form-row form-row-3">
<input type="submit" name="submit" class="submit au-btn au-btn-red btn-medium" value="BOOK A TABLE">
</div>
</div>
</form>
</div>
</div>
</div>

</div>

{% include 'website/layouts/footer.html' %}
