{% load static %}
<footer class="footer-section section-box">
<div class="container">
<div class="footer-content">
<div class="row">
<div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
<div class="footer-item">
<div class="logo">
<a href="index-2.html"><img src="{% static 'website/images/icons/logo-white.png' %}" alt="logo"></a>
</div>
<p>Turpis tincidunt id aliquet feugiat. Lectus magna fringilla urna porttitor rhoncus. Velit sed ullamcorper morbi tincidunt ornare mas.</p>
<div class="socials">
<a href="#"><i class="zmdi zmdi-facebook"></i></a>
<a href="#"><i class="zmdi zmdi-google-plus"></i></a>
<a href="#"><i class="zmdi zmdi-twitter"></i></a>
<a href="#"><i class="zmdi zmdi-instagram"></i></a>
</div>
</div>
</div>
<div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
<div class="footer-item">
<div class="widget_recent_entries">
<h5 class="widget-title"></h5>
<ul>
<li><a href="/">Home</a></li>
<li><a href="{% url 'website:menuitems' 'Starter' %}">Menu</a></li>
<li><a href="{% url 'website:galleryimages' %}">Gallery</a></li>
<li><a href="{% url 'website:aboutus' %}">About us</a></li>
<li><a href="{% url 'website:contactus' %}">Contact us</a></li>
</ul>
</div>
</div>
</div>
<div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
<!--<div class="footer-item">-->
<!--<h5>INSTAGRAM</h5>-->
<!--<div class="insta-content">-->
<!--<div class="insta-image">-->
<!--<a href="{% static 'website/images/hp-1-footer-1.jpg' %}" data-fancybox="gallery" class="gallery-elements"><img src="{% static 'website/images/hp-1-footer-1.jpg' %}" alt="insta-image"></a>-->
<!--</div>-->
<!--<div class="insta-image">-->
<!--<a href="{% static 'website/images/hp-1-footer-2.jpg' %}" data-fancybox="gallery" class="gallery-elements"><img src="{% static 'website/images/hp-1-footer-2.jpg' %}" alt="insta-image"></a>-->
<!--</div>-->
<!--<div class="insta-image">-->
<!--<a href="{% static 'website/images/hp-1-footer-3.jpg' %}" data-fancybox="gallery" class="gallery-elements"><img src="{% static 'website/images/hp-1-footer-3.jpg' %}" alt="insta-image"></a>-->
<!--</div>-->
<!--</div>-->
<!--<div class="insta-content">-->
<!--<div class="insta-image">-->
<!--<a href="{% static 'website/images/hp-1-footer-4.jpg' %}" data-fancybox="gallery" class="gallery-elements"><img src="{% static 'website/images/hp-1-footer-4.jpg' %}" alt="insta-image"></a>-->
<!--</div>-->
<!--<div class="insta-image">-->
<!--<a href="{% static 'website/images/hp-1-footer-5.jpg' %}" data-fancybox="gallery" class="gallery-elements"><img src="{% static 'website/images/hp-1-footer-5.jpg' %}" alt="insta-image"></a>-->
<!--</div>-->
<!--<div class="insta-image">-->
<!--<a href="{% static 'website/images/hp-1-footer-6.jpg' %}" data-fancybox="gallery" class="gallery-elements"><img src="{% static 'website/images/hp-1-footer-6.jpg' %}" alt="insta-image"></a>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
</div>
<div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
<div class="footer-item">
<h5>CONTACT INFO</h5>
<div class="contact-content">
<div class="contact-inner">
<i class="zmdi zmdi-pin"></i>
<div class="text">
<span class="address">Royal Spice, 827 William street Ste B
, Longmeadow MA 01106</span>
</div>
</div>
<div class="contact-inner">
<i class="zmdi zmdi-phone"></i>
<div class="text">
<span><a href="tel:18889993333">+1 888-999-3333</a></span>
</div>
</div>
<div class="contact-inner">
<i class="zmdi zmdi-email"></i>
<div class="text">
<span><a href="https://freebw.com/cdn-cgi/l/email-protection" class="__cf_email__" >royaleapice.ma@gmail.com</a></span>
</div>
</div>
<div class="contact-inner">
<i class="zmdi zmdi-time"></i>
<div class="text">
<div class="text-inner">
<span class="text-1">Lunch:</span>
<span class="text-2">Everyday</span>
</div>
<div class="text-inner">
<span class="text-1">Dinner: Mon- Thu </span>
<span class="text-2">18:00-21:30</span>
</div>
<div class="text-inner">
<span class="text-1">Dinner: Fri- Sun</span>
<span class="text-2">19:00-21:00</span>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="sub-footer">
<!--<span>Copyright @ 2018 <a href="#">Reon</a>. Get The Theme</span>-->
</div>
</footer>
<a href="#" id="back-to-top">
<i class="zmdi zmdi-chevron-up"></i>
</a>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<script data-cfasync="false" src="{% static 'website/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js' %}"></script><script src="{% static 'website/ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js' %}"></script>

<script src="{% static 'website/vendor/bootrap/js/bootstrap.min.js' %}"></script>

<script src="{% static 'website/vendor/owl/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'website/vendor/owl/js/OwlCarousel2Thumbs.min.js' %}"></script>

<script src="{% static 'website/vendor/revolution/js/jquery.themepunch.tools.min.js' %}"></script>
<script src="{% static 'website/vendor/revolution/js/jquery.themepunch.revolution.min.js' %}"></script>

<script type="text/javascript" src="{% static 'website/js/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'website/js/imagesloaded.pkgd.min.js' %}"></script>

<script type="text/javascript" src="{% static 'website/js/jquery.masonry.min.js' %}"></script>
<script type="text/javascript" src="{% static 'website/js/masonry.pkgd.min.js' %}"></script>

<script type="text/javascript" src="{% static 'website/vendor/fancybox-master/js/jquery.fancybox.min.js' %}"></script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB13ZAvCezMx5TETYIiGlzVIq65Mc2FG5g"></script>

<script src="{% static 'website/js/theme-map.js' %}"></script>

<script src="{% static 'website/vendor/sweetalert/sweetalert.min.js' %}"></script>
<script src="{% static 'website/js/config-contact.js' %}"></script>

<script src="{% static 'website/vendor/datepicker/js/jquery-ui.min.js' %}"></script>

<script src="{% static 'website/js/custom.js' %}"></script>

</body>
</html>