{% include 'website/layouts/header.html' %}
{% load static %}
<div class="page-content">

<section class="">

	<div id="videoWrapper" >

  <video style="width:100%; height:100%; max-height: 100vh; min-height: 100vh;object-fit: cover;" poster="{{banners.image.url}}" playsinline autoplay muted loop>
		<source src="{{banners.0.image.url}}" type="video/mp4">

	</video>
	<div class="caption">
    <div class="">
     <div style="font-family: satisfy, cursive;    visibility: inherit;
    transition: none 0s ease 0s;
    text-align: center;
    line-height: 50px;
    border-width: 0px;
    margin: 0px;
    padding: 0px;
    letter-spacing: 0px;
    font-weight: 400;
    font-size: 70px;
    white-space: normal;
    min-height: 0px;
    min-width: 1200px;
    max-height: none;
    max-width: 1200px;
    color: rgb(242, 242, 242);
    opacity: 1;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform-origin: 50% 50% 0px;" class="" data-frames="[{&quot;delay&quot;:500,&quot;speed&quot;:1000,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;y:-50px;opacity:0;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:500,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;y:-20px;opacity:0;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;}]" data-fontsize="['70', '70', '70', '70']" data-lineheight="['50', '50', '50', '50']" data-color="#f2f2f2" data-textAlign="['center', 'center', 'center', 'center']" data-x="['center','center','center','center']" data-y="['middle','middle','middle','middle']" data-hoffset="['0', '0', '0', '0']" data-voffset="['-74', '-75', '-85', '-60']" data-width="['1200', '770', '800', '800']" data-whitespace="normal" data-basealign="slide" data-responsive_offset="off">
{% if banners.0.title %}
		 {{banners.0.title}}
		 {% endif %}
</div>

    </div>
  </div>

	<div class="to_btm">
		<a href="#story-hp-1" class="to_btm_ic scroll-slider1 flex-c trans-04"><span></span></a>
		<!-- <a href="#story-hp-1" class="scroll-slider1 flex-c trans-04"></a> -->

	</div>


</div>
<!-- <div class="wrap-scroll-slider1 display-flex-center">
<a href="#story-hp-1" class="scroll-slider1 flex-c trans-04"></a>
</div> -->
</section>


<section class="story-hp-1 section-box" id="story-hp-1">
<div class="container">
<div class="row">
<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
<div class="story-content">
<!--<h3 class="special-heading">Discover</h3>-->
<h2 class="special-heading-1">ABOUT US</h2>
<p>“At Royalspice, we take pride in combining traditional Indian cooking techniques with innovative ingredient pairings, forward-thinking flavor profiles, contemporary presentation, and exceptional table service. Dining with us offers a unique and modern interpretation of Indian cuisine.”</p>
<!--<div class="story-quote">-->
<!--<img src="{% static 'website/images/hp-1-story-3.jpg' %}" alt="story">-->
<!--<div class="info">-->
<!--<span class="name">FRANK REYES</span>-->
<!--<span class="job">Master Chef</span>-->
<!--</div>-->
<!--</div>-->
</div>
</div>
<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
<div class="story-images">
<div class="row">
<div class="col-6">
<div class="image-inner">
<img src="{% static 'website/images/hp-1-story-1.jpg' %}" alt="story">
</div>
</div>
<div class="col-6">
<div class="image-inner">
<img src="{% static 'website/images/hp-1-story-2.jpg' %}" alt="story">
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</section>


<section class="feature-hp-1 section-box" style="background-image: url({% static 'website/images/hp-1-features-1.jpg' %})">
<div class="container">
<div id="feature-hp-1" class="owl-carousel owl-theme">

{% for i in testimonials %}

<div class="feature-content">
<div class="feature-detail">
<h3 class="special-heading">Testimonials</h3>
<h2 class="special-heading-1" style="    font-size: 30px;">{{i.user|upper}}</h2>
		<div class="star">
			{% if i.star == 1 %}
<i class="zmdi zmdi-star"></i>
<span><i class="zmdi zmdi-star-outline"></i></span>
<span><i class="zmdi zmdi-star-outline"></i></span>
<span><i class="zmdi zmdi-star-outline"></i></span>
<span><i class="zmdi zmdi-star-outline"></i></span>

			{% elif i.star == 2 %}
<i class="zmdi zmdi-star"></i>
<i class="zmdi zmdi-star"></i>
<span><i class="zmdi zmdi-star-outline"></i></span>
<span><i class="zmdi zmdi-star-outline"></i></span>
<span><i class="zmdi zmdi-star-outline"></i></span>
			{% elif i.star == 3 %}
<i class="zmdi zmdi-star"></i>
<i class="zmdi zmdi-star"></i>
<i class="zmdi zmdi-star"></i>
<span><i class="zmdi zmdi-star-outline"></i></span>
<span><i class="zmdi zmdi-star-outline"></i></span>
            {% elif i.star == 4 %}
<i class="zmdi zmdi-star"></i>
<i class="zmdi zmdi-star"></i>
<i class="zmdi zmdi-star"></i>
<i class="zmdi zmdi-star"></i>
<span><i class="zmdi zmdi-star-outline"></i></span>

            {% elif i.star == 5 %}
<i class="zmdi zmdi-star"></i>
<i class="zmdi zmdi-star"></i>
<i class="zmdi zmdi-star"></i>
<i class="zmdi zmdi-star"></i>
<i class="zmdi zmdi-star"></i>
			{% endif %}

</div>
<p>{{i.description}}</p>

</div>

<div class="feature-image">

<!--<img src="{% static 'website/images/hp-1-features-2.jpg' %}" alt="feature-1">-->
</div>
</div>

{% endfor %}
</div>
</div>
</section>


<section class="menu-hp-1 section-box">
<div class="container">
<h3 class="special-heading">Discover</h3>
<h2 class="special-heading-1">OUR MENU</h2>
<div class="menu-total">
<div class="hash-image">

	{% for i in category %}
		<a href="#{{i.title}}"><img src="{{i.icon}}" alt="icon" onclick="view_button('{{i.title}}')"></a>
	{% endfor %}
</div>
<div id="menu-hp-1" class="owl-carousel owl-theme">


	{% for i in category %}


<div class="menu-content item" data-thumb="{{i.title}}" data-hash="{{i.title}}">
<div class="row">
<div class="col-3 menu-title-total">
<div class="menu-title">
<img src="{{i.image}}" alt="menu-drinks">
<span class="rotate">{{i.title|upper}}</span>
</div>
</div>
<div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 col-12">
<div class="menu-detail">
	{% if i.menu.0 %}
<div class="menu-inner">
<div class="food-images">
<img src="{{i.menu.0.image.url}}" alt="drinks">
</div>
<div class="food-info">
<span class="name">{{i.menu.0.title}} ....................................... ${{i.menu.0.price}}</span>
<span class="description">{{i.menu.0.description}}</span>
</div>
</div>
	{% endif %}
	{% if i.menu.1 %}
<div class="menu-inner">
<div class="food-images">
<img src="{{i.menu.1.image.url}}" alt="drinks">
</div>
<div class="food-info">
<span class="name">{{i.menu.1.title}} ....................................... ${{i.menu.1.price}}</span>
<span class="description">{{i.menu.1.description}}</span>
</div>
</div>
	{% endif %}
</div>
</div>
<div class="col-xl-5 col-lg-6 col-md-6 col-sm-6 col-12">
<div class="menu-detail menu-detail-1">
	{% if i.menu.2 %}
<div class="menu-inner">
<div class="food-images">
<img src="{{i.menu.2.image.url}}" alt="drinks">
</div>
<div class="food-info">
<span class="name">{{i.menu.2.title}} ....................................... ${{i.menu.2.price}}</span>
<span class="description">{{i.menu.2.description}}</span>
</div>
</div>
	{% endif %}
	{% if i.menu.3 %}
<div class="menu-inner">
<div class="food-images">
<img src="{{i.menu.3.image.url}}" alt="drinks">
</div>
<div class="food-info">
<span class="name">{{i.menu.3.title}} ....................................... ${{i.menu.3.price}}</span>
<span class="description">{{i.menu.3.description}}</span>
</div>
</div>
	{% endif %}
</div>
</div>


</div>
</div>

	{% endfor %}

</div>
</div>
<div class="view">
<a href="javascript:void(0)" class="au-btn au-btn-red btn-medium" onclick="gotomenu()">VIEW MORE</a>
</div>
</div>
</section>


<section class="cta-hp-1 section-box" style="background-image: url({% static 'website/images/hp-1-cta.jpg' %})">
<div class="container">
<div class="cta-content">
<h2>BEST PLACE OF CULINARY</h2>
</div>
</div>
</section>


<section class="gallery-hp-1 section-box">
<div class="container">
<div class="gallery-content">
<h3 class="special-heading">Discover</h3>
<h2 class="special-heading-1">OUR GALLERY</h2>
<div class="row">

{% for i in gallery %}

<div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
<div class="gallery-detail" style="height: 100%;" 	>
<img src="{{i.image.url}}" alt="gallery-1" style="
    height: 100%;width: 100%;
    object-fit: cover;
">
<div class="overlay"></div>
<div class="gallery-zoom">
<a href="{{i.image.url}}" data-fancybox="gallery" class="gallery-elements">
<i class="zmdi zmdi-search"></i>
</a>
</div>
</div>
</div>


{% endfor %}


</div>
<div class="view">
<a href="{% url 'website:galleryimages' %}" class="au-btn au-btn-red btn-medium">VIEW MORE</a>
</div>
</div>
</div>
</section>


<!--<div class="book-table-hp-1 section-box">-->
<!--<div class="container">-->
<!--<div class="book-content">-->
<!--<form class="form-detail" method="post">-->
<!--	{% csrf_token %}-->
<!--<h3 class="special-heading">Reservation</h3>-->
<!--<h2 class="special-heading-1">BOOK A TABLE</h2>-->
<!--<p>Tempus urna et pharetra pharetra massa massa. Malesuada fames ac turpis egestas. Ut tristique et egestas quis.</p>-->
<!--<div class="form-group">-->
<!--<div class="row">-->
<!--	<div class="col-3">-->
<!--			<input type="text" name="name" class="input-text form-control" id="" placeholder="Name" required >-->

<!--		</div>-->
<!--	<div class="col-3">-->
<!--			<input type="text" name="phone" class="input-text form-control" id="" placeholder="Phone" required>-->

<!--		</div>-->
<!--	<div class="col-3">-->
<!--			<input type="email" name="email" class="input-text form-control" id="" placeholder="E-mail" required>-->

<!--		</div>-->
<!--	<div class="col-3">-->
<!--	<input type="submit" name="submit" class="submit au-btn au-btn-red btn-medium" value="BOOK A TABLE">-->

<!--		</div>-->
<!--		<div class="col-3">-->
<!--			<select name="people" id="people" class="input-text form-control" required>-->
<!--				<option value="">Select</option>-->

<!--<option value="1">1 Person</option>-->
<!--<option value="2">2 Person</option>-->
<!--<option value="3">3 Person</option>-->
<!--<option value="4">4 Person</option>-->
<!--</select>-->
<!--		</div><div class="col-3">-->
<!--			<input type="date" name="date" class="form-control" id="" placeholder="" autocomplete="off" required>-->

<!--		</div><div class="col-3">-->
<!--<select name="time" id="time" class="input-text form-control" required>-->
<!--<option value="">Select</option>-->
<!--<option value="7:00pm">7:00pm</option>-->
<!--<option value="8:00pm">8:00pm</option>-->
<!--<option value="9:00pm">9:00pm</option>-->
<!--<option value="10:00pm">10:00pm</option>-->
<!--</select>-->
<!--		</div>-->




<!--	</div>-->
<!--	</div>-->
<!--</form>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->


<section class="map-section">
<div class="google-map-section">
<!--<div class="map-wrapper js-google-map" data-makericon="{% static 'website/images/icons/map-icon.png' %}" data-makers="[[&quot;REON&quot;, &quot;Now that you visited our website,<br> how about checking out our office too?&quot;, 11.14061765121112, 75.94901973953691]]">-->
<!--	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d411.3140234819433!2d75.83698217515588!3d11.25401647658397!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba65b946032ba75%3A0xf5ed91156d32a4f2!2sCyberpark%20Kozhikode!5e0!3m2!1sen!2sin!4v1650979829433!5m2!1sen!2sin" width="100%" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>-->
<!--<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3914.6350690420527!2d75.9456667092026!3d11.140532988985475!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba64efeb68826df%3A0xacf29d816d02287a!2sCalicut%20International%20Airport%20(CCJ)!5e0!3m2!1sen!2sin!4v1714823739575!5m2!1sen!2sin" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>-->
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2962.429207532633!2d-72.55644068940389!3d42.05541867110277!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e6e5da456ce03f%3A0x8e0d302bd7e09ee8!2sWilliams%20Place%20Shopping%20Mall%20Shopping%20Center%2C%20827%20Williams%20St%20b%2C%20Longmeadow%2C%20MA%2001106%2C%20USA!5e0!3m2!1sen!2sin!4v1715015770540!5m2!1sen!2sin" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
<!--<div class="map__holder js-map-holder" id="map"></div>-->
</div>
</div>
</section>

</div>

{% include 'website/layouts/footer.html' %}

{% if popup %}
<script>
window.onload = function() {
  $('#exampleModal').modal('show');
}

</script>
{% endif %}
<script>

	$('#myModal').on('shown.bs.modal', function () {
  $('#myInput').trigger('focus')
})

function gotomenu(){
var currentUrl = window.location.href;
console.log(currentUrl);
var parts = currentUrl.split('#'); // Split the URL by '#'

if(parts[1]){
var wordAfterHash = parts[1]; // Get the second part which is after the hash
console.log(wordAfterHash); // Output: Dinner
}else{
var wordAfterHash = 'Starter';
}
<!--alert(wordAfterHash);-->
		$.ajax({
		  url: '/gotomenu',
		  type: 'GET',
		  data: {item:wordAfterHash},

		  success: function(data) {
			window.location.href='/menuitems/'+data.item;
		  }
	  });
}
</script>
